/* 1. Define the custom font (using local file example) */
@font-face {
    font-family: 'ThunderNova';
    src: url('fonts/ThunderNova.woff2') format('woff2'),
         url('fonts/ThunderNova.woff') format('woff'),
         url('fonts/ThunderNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Apply the custom font globally */
* {
    font-family: ThunderNova, Arial, Helvetica, sans-serif !important;
}

body {
	background-color: #e7e7e7;
	font-family: ThunderNova, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

h1 {
	font-size: 25px;
}

div#container {
}

div#code {
	background-color: #ffffff;
}

div#area {
	margin-left: 30px;
}

span.spoiler {
	background-color: black;
	color: black;
}

/* === Dark theme === */
body.dark {
	background: #2f2f2f;
	color: #f8fafa;
}

body.dark a {
	color: #99cc33;
}

body.dark div#code {
	background-color: #2f2f2f;
	color: #f8fafa;
}

body.dark table {
	background-color: #2f2f2f;
	border: none !important;

}
