/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@100;300;400;500;700;900&display=swap');

/* Apply Oxanium globally */
* {
  font-family: 'Oxanium', Arial, Helvetica, sans-serif !important;
}

body {
	background-color: #e7e7e7;
	font: 'Oxanium', Arial, Helvetica, sans-serif;
	font-size: 13px;
}

h1 {
	font-size: 25px;
}

div#container {
}

div#code {
	background-color: #ffffff;
}

div#area {
	margin-left: 30px;
}

.loginSuccess {
	color: #638323;
}

.loginFail {
	color: #a50a0a;
}

/* === Dark theme === */
body.dark {
	background: #2f2f2f;
	color: #f8fafa;
}

body.dark a {
	color: #03fdab;
}

body.dark div#code {
	background-color: #bdbdbd;
}

body.dark table {
	background-color: #2f2f2f;
	border: none !important;

}



